/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.wrap {
  font-family: "Noto Sans TC", sans-serif;
}
/* 頁首 */

.header-background {
  border-bottom: #f1f1f1 solid 1px;
  background-color: #ffffff;
  /* padding: 32px 0px 32px 0px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 28px 8px 28px 8px;
}
/* logo */
.header h1 a {
  display: block;
  width: 90px;
  height: 40px;
  background-image: url("../img/logo.svg");
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 318px;
}
/* 選單並排 */
.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu li :hover {
  background: linear-gradient(to left, #919191, #919191) left top no-repeat,
    linear-gradient(to bottom, #919191, #919191) left top no-repeat,
    linear-gradient(to left, #919191, #919191) right top no-repeat,
    linear-gradient(to bottom, #919191, #919191) right top no-repeat,
    linear-gradient(to left, #919191, #919191) left bottom no-repeat,
    linear-gradient(to bottom, #919191, #919191) left bottom no-repeat,
    linear-gradient(to left, #919191, #919191) right bottom no-repeat,
    linear-gradient(to left, #919191, #919191) right bottom no-repeat;
  background-size: 1px 6px, 6px 1px, 1px 6px, 6px 1px;
  font-weight: 600;
}

.header-menu li a {
  display: block;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  line-height: 24px;
  color: #000000;
}
.menu-btn {
  display: none;
  cursor: pointer;
}
.menu-btn .material-icons {
  display: none;
}
/* :checked 點擊狀態 */
/* input的.menu-con 被點擊後menu-btn 裡面的.open<選單> 會關起來 */
.menu-con:checked + .menu-btn .open {
  display: none;
}
/* input的.menu-con 被點擊後menu-btn 裡面的.close <X> 會開起來 */
.menu-con:checked + .menu-btn .close {
  display: inline;
}
/* input的.menu-con 還沒被點擊.open<選單> 會開起來 */
.menu-con:not(:checked) + .menu-btn .open {
  display: inline;
}
/* input的.menu-con 還沒被點擊close<X> 會關起來 */
.menu-con:not(:checked) + .menu-btn .close {
  display: none;
}
/* 勾勾隱藏 */
.menu-con {
  display: none;
}

@media (max-width: 1296px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 992px) {
  .header {
    justify-content: space-between;
  }
  .menu-btn {
    display: block;
  }
  /* 平板時先藏起MENU的內容 */
  .header-menu {
    display: none;
  }
  /*  ~ 搜尋(~這是指同層去找到相對應的 .menu   +是指同層的下一個對應的 .menu).menu-con同層的.menu開啟樣式 */
  /* input的.menu-con 被點擊後menu的設定樣式 */
  .menu-con:checked ~ .header-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .header h1 a {
    margin-right: 0px;
  }
}

/* 標題 */
.main {
  background-color: #fafafa;
  padding: 176px 0px 80px 0px;
  margin: 0 auto;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.main-title {
  margin: 0 auto;
  max-width: 670px;
  padding: 59px 71px;
  position: relative;
}
.main-title h4 strong {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.main-title h4 strong img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: -1;
}

.main-left {
  position: absolute;
  left: 0;
  top: 0;
}
.main-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main-title h4 {
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #1e1e1e;
}
.main-list {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 40px;
}
.main-list li {
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-list li h2 {
  padding-bottom: 4px;
  color: #5b5b5b;
}
.main-list li h3 {
  padding-bottom: 2px;
  line-height: 24px;
  text-align: center;
  color: #3b3b3b;
}
.line {
  width: 24px;
  height: 2px;
  background-color: #c1c1c1;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .main {
    padding: 136px 0px 80px 0px;
  }
  .container {
    width: 100%;
  }
  .main-left {
    left: 43%;
    top: 0;
  }

  .main-left img {
    width: 64px;
    height: 64px;
  }
  .main-right {
    right: 40px;
    bottom: 10px;
    display: none;
  }
  .main-title h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .main-title {
    width: 100%;
    padding: 72px 37.5px 0px 37.5px;
  }

  .main-list {
    padding: 40px 70px 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    gap: 20px;
  }

  .main-list li {
    width: 100%;
    padding-bottom: 4px;
  }
}

/* 主要內容 */
.content {
  margin-top: 120px;
}
.banner {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.banner-box {
  margin-bottom: 80px;
  max-width: 636px;
}

.banner-box a img {
  display: block;
  border: #f1f1f1 1px solid;
  margin-bottom: 16px;
  border-radius: 8px;
  max-width: 100%;
}
.banner-box a img:hover {
  box-shadow: 0 6px 30px 0 rgba(52, 123, 205, 0.618);
}
.banner-box h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-left: 16px;

  color: #3b3b3b;
}
.banner-box h2:hover {
  color: rgba(16, 58, 94, 0.919);
}

.banner-box p {
  line-height: 1.5;
  margin-bottom: 24px;
  margin-left: 16px;

  color: #919191;
}
.tags {
  display: flex;
  margin-left: 16px;
  gap: 16px;
}

.tags li {
  padding: 4px 12px 4px 12px;
  line-height: 1.5;
  color: #3b3b3b;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.tags li:hover {
  color: rgba(34, 9, 19, 0.919);
  background-color: #bcaaaa;
}
.page-number {
  max-width: 184px;
  margin: 0 auto;
}

.page-number a {
  text-decoration: none;
  color: #3b3b3b;
  display: inline-block;
  padding: 2px 13px 2px 13px;
  margin-left: 16px;
  font-size: 24px;
  line-height: 36px;
}

.page-number a:hover {
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-box {
    width: 351px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .content {
    margin-top: 80px;
  }
  .banner-box a img:hover {
    box-shadow: 0 3px 10px 0 rgba(52, 123, 205, 0.618);
  }

  .banner-box h2 {
    font-size: 20px;
  }
  .banner-box p {
    margin-bottom: 16px;
  }
  .tags {
    gap: 8px;
  }
}

/* 頁尾 */
.footer-content {
  background-image: url("../img/footer-bg-lg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px 80px 0px;
  border-top: 1px solid #fafafa;
  margin-top: 120px;
  width: 100%;
}

.footer {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-list {
  width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.footer-list li {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4px 24px 4px 24px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
}

.footer-list li a {
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
}

.footer-list li:hover {
  background: linear-gradient(to top, #6485c7 0%, #94bbe7 100%);
}

/* 主字體設定 */
.footer-list li .font-text {
  color: #3b3b3b;
  font-size: 20px;
  line-height: 30px;
}
.footer-note {
  margin-top: 39px;
}
.footer-note a img {
  margin-bottom: 24px;
  width: 120px;
  height: 54px;
}
.footer-note p {
  margin-bottom: 24px;
  line-height: 24px;
  color: #3b3b3b;
}
.footer-note a {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #919191;
  text-decoration: none;
}

.footer-note a:hover {
  color: #865959;
}

.footer-style {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 306px;
    gap: 40px;
  }
  .footer-content {
    margin-top: 80px;
    padding: 40px 0px 40px 0px;
  }

  .footer-note {
    margin-top: 0px;
  }

  .footer-note a {
    text-align: center;
  }
  .footer-note .mail {
    font-size: 16px;
    line-height: 24px;
  }
}
